@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
.creditos > p {
  width: 90%;
  margin: 0 auto;
  display: block;
  font-weight: 100;
  font-size: 4.4vw;
  text-align: center;
  margin-bottom: 15px; }

.creditos > input {
  height: 35px;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  text-transform: capitalize;
  letter-spacing: .05em;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 10px auto 0;
  width: 110px;
  font-size: 5vw;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: transparent;
  display: block; }
