
link(rel='stylesheet', href='css/creditos.min.css')

div.creditos
	h1 Creditos
	p Al igual que tu, soy un humano borracho y necesitaba hacer este juego más comodo.
	p Si puedes, ayudame valorando esta app con 5 estrellitas.
	p ¡Salud!

	input( type='button' , value='Valorar' ) 
