doctype html
html(lang='en')
	head

		include ../_components/meta
		include ../_components/link
		include ../_components/script

	body

		include ../_components/header

		include penitencias
		include creditos
		include juguemos
