
link(rel='stylesheet', href='css/penitencias.min.css')

div.penitencias
	h1 Penitencias
	ul
		li
			label Carta 
				strong A
			input( type='text' )
		li
			label Carta 
				strong 2
			input( type='text' )
		li
			label Carta 
				strong 3
			input( type='text' )
		li
			label Carta 
				strong 4
			input( type='text' )
		li
			label Carta 
				strong 5
			input( type='text' )
		li
			label Carta 
				strong 6
			input( type='text' )
		li
			label Carta 
				strong 7
			input( type='text' )
		li
			label Carta 
				strong 8
			input( type='text' )
		li
			label Carta 
				strong 9
			input( type='text' )
		li
			label Carta 
				strong 10
			input( type='text' )
		li
			label Carta 
				strong J
			input( type='text' )
		li
			label Carta 
				strong Q
			input( type='text' )
		li
			label Carta 
				strong K
			input( type='text' )

	//- script.
	//- 	$( document ).ready(function(){
	//- 		$.each( $( "div.penitencias > ul > li" ) , function(){
	//- 			var inputLabel 	= $( this ).find( "label" ).text();
	//- 			var inputVal 	= $( this ).find( "input" ).val();
	//- 			$( this ).find( "input" ).val( "Valooor " + inputLabel + " valorcito" );
	//- 		});
	//- 	});